{% extends 'base.html.twig' %}
{% block page_title %}Commerce Achat{% endblock %}
{% block body %}
<a href="{{ path('app_commerce_achat_new') }}" class="btn btn-success mb-3">Nouveau</a>
<table class="table datatable"><thead><tr><th>Fournisseur</th><th>Race</th><th>Quantité</th><th>Total</th><th></th></tr></thead><tbody>
{% for a in pagination %}<tr><td>{{ a.fournisseur }}</td><td>{{ a.race }}</td><td>{{ a.quantite }}</td><td>{{ a.prixTotal|number_format(2) }}</td><td>
<a class="btn btn-sm btn-primary" href="{{ path('app_commerce_achat_edit',{id:a.id}) }}">Edit</a>
<form class="d-inline delete-form" method="post" action="{{ path('app_commerce_achat_delete',{id:a.id}) }}"><input type="hidden" name="_token" value="{{ csrf_token('delete_achat_'~a.id) }}"><button class="btn btn-sm btn-danger">Del</button></form>
</td></tr>{% endfor %}
</tbody></table>
{{ knp_pagination_render(pagination) }}
{% endblock %}
