{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block guest_body %}
<div class="container py-5"><div class="row justify-content-center"><div class="col-md-6">
    <div class="card shadow-sm"><div class="card-body">
        <h4 class="mb-3">Inscription</h4>
        {{ form_start(form) }}
        <div class="row g-3">
            <div class="col-md-6">{{ form_row(form.nom) }}</div>
            <div class="col-md-6">{{ form_row(form.prenom) }}</div>
            <div class="col-12">{{ form_row(form.email) }}</div>
            <div class="col-md-6">{{ form_row(form.plainPassword) }}</div>
            <div class="col-md-6">{{ form_row(form.confirmPassword) }}</div>
        </div>
        <button class="btn btn-success mt-3">Créer le compte</button>
        {{ form_end(form) }}
    </div></div>
</div></div></div>
{% endblock %}
